body {
  background-color: var(--silver-color);
}
.search_box .search {
  padding-top: 130px;
  padding-bottom: 40px;
  background-color: var(--other-color);
  font-family: "Amiri", serif;
}
.search_box .search .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search_box .search .container h1 {
  font-weight: bold;
}
.search_box .search .container .form_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.search_box .search .container .form_box .box_search {
  position: relative;
  background-color: #fff;
  border-radius: var(--border-10);
  padding: 15px 10px;
}
.search_box .search .container .form_box .box_search {
  width: 80%;
}
.search_box .search .container .form_box .icon_search {
  position: absolute;
  top: 48%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--other-color);
  font-size: 1.2rem;
}
.search_box .search .container .form_box .btn_text {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-right: 30px;
  font-family: inherit;
}
.search_box .search .container .form_box .btn_search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  outline: none;
  border: none;
  background-color: var(--other-color);
  color: #fff;
  border-radius: var(--border-10);
  padding: 5px 10px;
  transition: var(--trans);
}
.search_box .search .container .form_box .btn_search:hover {
  background-color: var(--main-color);
}
.search_box .search .container .form_box .filter {
  position: relative;
  background-color: #fff;
  border-radius: var(--border-10);
}
.search_box .search .container .form_box .filter summary {
  list-style: none;
  padding: 15px;
}
.search_box .search .container .filter .inputs_rad {
  position: absolute;
  background-color: #eee;
  overflow: hidden;
  width: max-content;
  right: 0;
  border-radius: var(--border-10);
  top: 110%;
  z-index: 1000;
  text-align: right;
  font-size: 1.2rem;
  box-shadow: 0 0 5px 0 var(--bs-border-color-translucent);
}
.search_box .search .container .filter .inputs_rad .box {
  display: flex;
  gap: 5px;
  padding: 10px;
  transition: var(--trans);
  overflow: hidden;
}
.search_box .search .container .filter .inputs_rad label {
  width: 100%;
  cursor: pointer;
}
.search_box .search .container .filter .inputs_rad .box:hover {
  background-color: #fff;
}

/* Result */
.result {
  color: #333;
  position: relative;
  padding-top: 20px;
  padding-bottom: 70px;
}
.result .books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.result .books .box {
  color: inherit;
  text-decoration: none;
  text-align: center;
  transition: var(--trans);
  background-color: #fff;
  border-radius: var(--border-10);
  box-shadow: 0 0 5px 0 var(--bs-border-color-translucent);
  overflow: hidden;
}
.result .books .box:hover {
  transform: translateY(-5px);
}
.result .books .box .img {
  max-width: 100%;
  height: 350px;
}
.result .books .box .text {
  padding: 10px;
}
.result .books .box .text .title {
  font-weight: bold;
  font-size: 1.2rem;
}
.result .books .box .text .write {
  font-style: italic;
}

.result .container .msg {
  margin: 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 80px;
}
.result .container .pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
