<footer>
  <div class="container-fluid">
    <p class="m-0">
      جميع الحقوق محفوظة لكنيسة الشهيد العظيم مارمينا والبابا كيرلس السادس
      بالخصوص
    </p>
    <div class="icons">
      <a
        href="https://www.facebook.com/subdeaconwael?mibextid=ZbWKwL"
        target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a
        href="https://www.facebook.com/m.marmina?mibextid=ZbWKwL"
        target="_blank"
        ><i class="fa-solid fa-church"></i
      ></a>
      <a href="mailto:popeathanasius066@gmail.com" target="_blank"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a href="https://goo.gl/maps/sjkMRKHG8E2cprGu7" target="_blank"
        ><i class="fa-solid fa-map-location-dot"></i
      ></a>
    </div>
  </div>
</footer>
